header .navbar-default {
    background-color: #385a4f;
    border-color: #284139;
}

header .navbar-toggle {
    color: #fff;
}

header .navbar-toggle:hover {
    color: #385a4f;
}

.detail-link {
    display: none;
}

.media-download{
    display: none;
}